.about {
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #2C2D2E;
        margin-bottom: 32px;
        align-items: center;
        text-align: center;

        span {
            color: #EF7C00;
        }
    }

    .row {
        display: flex;
        gap: 30px;
        justify-content: center;
        padding-bottom: 48px ;

        .col-6 {
            p {
                color: #2C2D2E;
                // align-items: space-around;
                // gap: 30px;
                padding-top: 19px;
                &:last-child{
                    padding-top: none;
                }
            }

            &_first {
                width: 552px;
                height: 300px;
                left: 0px;
                top: 16px;
                background: url(../images/about/about.video.png);

                .btn {
                    // align-items: center;
                    // justify-content: center;
                    left: 50%;
                    top: 50%;
                    position: relative;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }




}